<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle},'none')"/>

<body>
<div th:replace="navigation :: menu"></div>
<div class="container-fluid">
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}">Create new user</a>
    </div>
    <div>
        <form th:action="@{/users/page/1}" class="form-inline m-4">
            <input type="text" th:value="${keyword}" class="form-control" required name="keyword">
            &nbsp;&nbsp;
            <input type="submit" value="Search" class="btn btn-primary less-mt-2">&nbsp;
            <input type="reset" value="Clear" class="btn btn-secondary less-mt-2" onclick="clearSearch()">
        </form>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        <span>[[${message}]]</span>
    </div>
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                <th th:replace="fragments :: column_link('No.')"/>
                </th>
                <th>Photos</th>
                <th class="hideable-column">
                <th th:replace="fragments :: column_link('Email')"/>
                </th>
                <th>
                <th th:replace="fragments :: column_link('First name')"/>
                </th>
                <th>
                <th th:replace="fragments :: column_link('Last Name')"/>
                </th>
                <th>Roles</th>
                <th>
                <th th:replace="fragments :: column_link('Enabled')"/>
                </th>
                <th>
                <th th:replace="fragments :: column_link('Action')"/>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,index : ${users}">
                <td class="hideable-column">[[${index.count}]]</td>
                <td>
                    <img th:src="@{${user.photosImagePath}}"
                         style="width: 80px;height:80px;border-radius: 50%"/>
                </td>
                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td>
                    <div th:replace="fragments :: user_status"/>
                </td>
                <td>
                    <div th:replace="fragments :: user_action"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details">
        <div th:each="user : ${users}" class="row m-1">
            <div class="col-4">
                <img th:src="@{${user.photosImagePath}}"
                     style="width: 80px;height:80px;border-radius: 50%"/>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: user_status"/>
                    <div th:replace="fragments :: user_action"/>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing user # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No users found</span>
    </div>
    <div th:if="${totalPage > 1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1}}">Previous</a></li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPage)}">
                    <a class="page-link" th:href="@{'/users/page/' + ${i} + ${keyword != null ? '?keyword=' + keyword : ''}}">[[${i}]]</a>
                </li>
                <li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}"><a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1}}">Next</a></li>
            </ul>
        </nav>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="confirm-text"></span>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success bg-green" href="" id="btn-yes">Yes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);
            userID = link.attr("userID");
            $("#btn-yes").attr("href", link.attr("href"))
            $("#confirm-text").text("Are you sure you want to delete user ID " + userID + "?");
            $("#confirmModal").modal();
        })
    })
    function clearSearch(){
        window.location = "[[@{/users}]]"
    }

</script>
</body>
</html>