<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Internal Server','none')"/>
<body>
<div style="background-image: url(images/form_background.png)">
    <div th:replace="navigation :: menu"></div>
    <div class="text-center" style="height: 397px">
        <div class="m-3">
            <h2>Sorry, the server has encountered an error while processing your request.</h2>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>