<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: page_head(${pageTitle}, 'tag')"/>
    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}"/>
    <script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
<div th:replace="navigation :: menu"></div>
<div class="container-fluid main-content">
    <div>
        <h2>Manage Product</h2>
    </div>
    <div th:if="${message != null}">
        <span>[[${message}]]</span>
    </div>
    <form th:action="@{/products/save}" method="post" style="max-width: 500px; margin: 0 auto"
          enctype="multipart/form-data"
          th:object="${product}" onsubmit="return checkUnique(this)">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#overview-tab">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#description-tab">Description</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active p-3" id="overview-tab" role="tabpanel">
                    <div th:replace="products/product_overview :: content"></div>
                </div>
                <div class="tab-pane" id="description-tab" role="tabpanel">
                    <div th:replace="products/product_description :: content"></div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <input class="btn btn-primary m-3" value="Save" type="submit">
            <input class="btn btn-secondary" value="Cancel" type="button" id="btnCancel">
        </div>
    </form>
    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Warning</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <span id="modalBody"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
<script type="text/javascript">
    moduleURL = "[[@{/products}]]";
</script>
<script th:src="@{/js/product.js}"></script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html>