<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/font/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
</head>
<body>
<div class="form">
    <div th:replace="navigation :: menu"></div>
    <div class="container text-center register_form">
        <div>
            <h2>Customer Registration</h2>
        </div>
        <form th:action="@{/customers/create}" th:object="${customer}" method="post"
              onsubmit="return checkEmailUnique(this);" class="form_container">
            <div class="form-group d-flex">
                <label class="form-label">First Name:</label>
                <div class="form-input">
                    <input class="form-control" type="text" th:field="*{firstName}" required maxlength="45"
                           minlength="2">
                </div>
            </div>
            <div class="form-group d-flex">
                <label class="form-label">Last Name:</label>
                <div class="form-input">
                    <input class="form-control" type="text" th:field="*{lastName}" required maxlength="45"
                           minlength="2">
                </div>
            </div>
            <div class="form-group d-flex">
                <label class="form-label">Email:</label>
                <div class="form-input">
                    <input class="form-control" type="email" th:field="*{email}" required maxlength="45" minlength="10">
                </div>
            </div>
            <div class="form-group d-flex">
                <label class="form-label">Password:</label>
                <div class="form-input">
                    <input class="form-control" type="password" th:field="*{password}" required maxlength="20"
                           minlength="6"
                           onChange="onChange()">
                </div>
            </div>
            <div class="form-group d-flex">
                <label class="form-label">Re-type Password:</label>
                <div class="form-input">
                    <input class="form-control" type="password" id="confirmPassword" required
                           maxlength="20" minlength="6" onChange="onChange()">
                </div>
            </div>
            <div class="form-group d-flex">
                <label class="form-label">Phone Number:</label>
                <div class="form-input">
                    <input class="form-control" type="text" th:field="*{phoneNumber}" maxlength="15" minlength="8">
                </div>
            </div>
            <div class="form-group d-flex">
                <label class="form-label">Address:</label>
                <div class="form-input">
                    <input class="form-control" type="text" th:field="*{address}" maxlength="64">
                </div>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-submit" value="Sign up">
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
<script type="text/javascript">

    function onChange() {
        const password = document.querySelector('input[id=password]');
        const confirm = document.querySelector('input[id=confirmPassword]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Passwords do not match');
        }
    }

    function checkEmailUnique(form) {
        const url = "[[@{customers/check_unique_email}]]"
        const userEmail = document.querySelector("#email").val()
        const csrfValue = document.querySelector("input[name = '_csrf']").val()
        const params = {email: userEmail, _csrf: csrfValue}
        document.post(url, params, function (res) {
            console.log(res)
            form.submit()
        });
        return false
    }

    function showModalDialog(title, message) {
        document.querySelector("#modalTitle").text(title);
        document.querySelector("#modalBody").text(message);
        document.querySelector("#modalDialog").modal();
    }
</script>
</body>
</html>