<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/font/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="footer" class="d-flex justify-content-center mt-3 bg-dark p-3">
    <span class="footer-text">LinhBowl Control Panel - Copyright &copy; LinhBowl</span>
</div>
<div th:fragment="column_link(name)">
    <a class="text-white">[[${name}]]</a>
</div>
<div th:fragment="user_status">
    <a th:if="${user.enabled == true}" class="fas fa-check-circle icon-green" title="Disable user"
       th:href="@{'/users/enable/' + ${user.id}}"></a>
    <a th:if="${user.enabled == false}" class="fas fa-check-circle icon-grey" title="Enable user"
       th:href="@{'/users/enable/' + ${user.id}}"></a>
</div>
<div th:fragment="user_action">
    <a class="far fa-edit icon-green mr-2" th:href="@{'/users/edit/'+ ${user.id}}"
       title="Edit this user"></a>
    <a class="far fa-trash-alt icon-green link-delete" th:href="@{'/users/delete/'+ ${user.id}}"
       th:userID="${user.id}" title="Delete this user"></a>
</div>
<div th:fragment="category_status">
    <a th:if="${category.enabled == true}" class="fas fa-check-circle icon-green less-mr-3" title="Disable category"
       th:href="@{'/categories/enabled/' + ${category.id}}"></a>
    <a th:if="${category.enabled == false}" class="fas fa-check-circle icon-grey less-mr-3" title="Enable category"
       th:href="@{'/categories/enabled/' + ${category.id}}"></a>
</div>
<div th:fragment="category_action">
    <a class="far fa-edit icon-green mr-2" th:href="@{'/categories/edit/'+ ${category.id}}"
       title="Edit this category"></a>
    <a class="far fa-trash-alt icon-green link-delete" th:href="@{'/categories/delete/'+ ${category.id}}"
       th:categoryID="${category.id}" title="Delete this category"></a>
</div>
<div th:fragment="product_status">
    <a th:if="${product.enabled == true}" class=" fas fa-check-circle icon-green less-mr-3" title="Disable product"
       th:href="@{'/products/enabled/' + ${product.id}}"></a>
    <a th:if="${product.enabled == false}" class=" fas fa-check-circle icon-grey less-mr-3" title="Enable product"
       th:href="@{'/products/enabled/' + ${product.id}}"></a>
</div>
<div th:fragment="product_action">
    <a class="fas fa-file-alt icon-green mr-2 link-detail" th:href="@{'/products/detail/' + ${product.id}}" title="View details"></a>&nbsp;&nbsp;
    <a class="far fa-edit icon-green mr-2" th:href="@{'/products/edit/'+ ${product.id}}"
       title="Edit this product"></a>
    <a class="far fa-trash-alt icon-green link-delete" th:href="@{'/products/delete/'+ ${product.id}}"
       th:productID="${product.id}" title="Delete this product"></a>
</div>
<div th:fragment="customer_status">
    <a th:if="${customer.enabled == true}" class="fas fa-check-circle icon-green less-mr-3" title="Disable customer"
       th:href="@{'/customers/enabled/' + ${customer.id}}"></a>
    <a th:if="${customer.enabled == false}" class="fas fa-check-circle icon-grey less-mr-3" title="Enable customer"
       th:href="@{'/customers/enabled/' + ${customer.id}}"></a>
</div>
<div th:fragment="customer_action">
    <a class="far fa-trash-alt icon-green link-delete" th:href="@{'/customers/delete/'+ ${customer.id}}"
       th:customerName="${customer.fullName}" title="Delete this customer"></a>
</div>
</body>
</html>